@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height: 30px;
    font-size: 10px;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 60px);
}
main button{
    margin-bottom: 13px;
    width: 60%;
    border-style: solid;
    border-radius: 10px;
}
footer{
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    height: 30px;
}
footer a{
    color: black;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 650px){
    main button{
        width: 390px;
    }
}